@media screen and (max-width: 515px) {
    header {
        background-image: url('../images/pattern-background-mobile.svg') !important;
    }

    .container {
        width: 80%;
        margin: 0 auto;

    }

    .plan a {
        margin-left: 1.7rem !important;
    }

    .card img {
        width: 100%;
    }
}
